
# Local environment and metadata files:
.python-version
.DS_Store
.coverage

# Artifacts:
dist/*.whl
dist/*.tar.gz

# Database files:
*.sqlite3

# General Python-related directories:
.venv/
.mypy_cache/
.pytest_cache/
__pycache__/
